html{
    background-color: lightcyan;
}

div {
    color: purple;
}

#recipe-name {
    background-color: goldenrod; 
    color: darkgreen;
}



.step,
.laststep {
    color: slateblue;
}

.laststep {
    background-color: skyblue;
}